.par {
  width: 50vw;
  height: 50vh;
  background-image: url("../../../../public/911.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
