/* You can add global styles to this file, and also import other style files */
@import "_colors.variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
