<div class="top-bar">
  <div class="left-content"></div>
  <div class="right-content">
    <button class="btn btn-danger mx-1" (click)="globalStore.moveToNextChapter()">
      Next chap
    </button>

    @if(this.globalStore.isAtChapter() != 4) {
    <button class="btn btn-danger" (click)="this.globalStore.setIsAtChapter(0)">
      Quitter l'application
    </button>
    } @else {
    <app-fake-btn-2 />
    }
  </div>
</div>

@if (this.globalStore.isAtChapter() != 6) {
<h1 class="centered there-is-no-app">There is no app</h1>
}



<!-- CHAP 0 -->
@if (this.globalStore.isAtChapter() == 0) {

<button class="btn btn-primary text-white centered-bellow" (click)="this.globalStore.moveToNextChapter()">
  Lancer l'application
</button>
}

<!-- CHAP 1 -->
@if (this.globalStore.isAtChapter() == 1) {

<div class="centered-bellow text-center mt-5">
  <p>Frere tu sais pas lire ou quoi</p>

  <button class="btn btn-primary text-white" (click)="this.globalStore.moveToNextChapter()">
    Non
  </button>

  <button class="btn btn-primary text-white ms-2" (click)="this.globalStore.moveToNextChapter()">
    Non, mais écris en verlant
  </button>
</div>
}

<!-- CHAP 2 -->

@if (this.globalStore.isAtChapter() == 2) {

<div class="w-100 h-100">
  <app-runaway-btn />
</div>
}

<!-- CHAP 3 -->
@if (this.globalStore.isAtChapter() == 3) {

<app-correct-css />
}

<!-- CHAP 4 -->
@if (this.globalStore.isAtChapter() == 4) {

<div class="centered-bellower text-center">
  <p>Bon ok tu l'as bien méritée</p>

  <app-fake-btn class="mt-5" />
</div>
}
<app-steam-achievement />

<!-- CHAP 5 -->
@if (this.globalStore.isAtChapter() == 5) {
<section>
  <div class="blank"></div>
  <h1 class="centered">There is no app</h1>
  <h2 class="centered-below">Tiens joue au jeu, comme ça t'es content...</h2>
  <app-runner></app-runner>
</section>
}

@if (this.globalStore.isAtChapter() == 7) {

<app-ending-screen [title]="'Bravo !'" [message]="'Tu as terminé le jeu avec succès !'" onload="removeTitle()">
</app-ending-screen>

}

<!-- CHAP 6 -->
@if (this.globalStore.isAtChapter() == 6) {
<app-find-password class="" />
}