@if(runner){
<div class="game-container">
  <p class="title-miteux">utilise les fleches pour faire des trucs cool</p>
  <p class="title-miteux2">Go aller au bout d'un runner miteux...</p>
  <div class="character" [style.left.px]="characterX" [style.top.px]="characterY" [style.height.px]="characterHeight">
  </div>

  <div *ngFor="let obstacle of obstacles" [ngStyle]="{
     'position': 'absolute',
     'left': obstacle.x + 'px',
     'top': obstacle.y + 'px',
     'width': obstacle.width + 'px',
     'height': obstacle.height + 'px',
     'background-color': obstacle.isMiam ? 'blue' : (obstacle.isTP ? 'violet' : 'black')
   }">
  </div>
  <button class="final-button btn btn-primary" (click)="resetView()" (click)="this.globalStore.moveToNextChapter()">
    click pas wesh
  </button>
</div>
}
